<ul class="main-menu">
	<li><a href="/">Home</a></li>
	{% for p in site.sitemap.pages|sort_objects(k="name") %}
		{% if p.url != "/index.html" %}
			<li {% if p.url == url %} class="active" {% endif %}><a href="{{ p.url }}">{{ p.title }}</a></li>
			{% set subdir = p.name|explode(s="-")|first %}
			{% if site.sitemap.dirs is with_key subdir %}
				{% for sp in site.sitemap.dirs|get(key=subdir)|get(key="pages")|sort_objects(k="name") %}
					{% if sp.url is ending_with "index.html" %}{% else %}
						<li class="sub {% if sp.url == url %} active {% endif %}""><a href="{{ sp.url }}">{{ sp.title }}</a>
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endif %}
	{% endfor %}
</ul>
